<!DOCTYPE html>
<html>
<head>
	<title>Display Time</title>

<style type="text/css">
	iv.container {
  		/*display: flex;
  		align-items: center;
  		justify-content: center;*/
  		padding: 20px;

	}

	label {
		border: 1px solid black;
		padding: 10px;
		align-content: center;
		max-width: 50%;
		display block;
		margin: 55px 380px 5px 730px;
	}

	p {
		display: block;
		border: 1px solid black;
		padding: 25px;
		font-size: 25px;
		margin: 25px 680px 5px 680px;
	}
</style>
</head>
<body>
	<div class="container">
		<label>The current date and time:</label>
		<p>{{ time }}</p>
	</div>

</body>
</html>